# Ignore everything
**

# Except the following directories and their contents
!/shared/
!/shared/**

!/llm_service/
!/llm_service/llama/
!/llm_service/llama/**

!/agent_service/
!/agent_service/**

!/chroma_service/
!/chroma_service/*

!/tool_service/
!/tool_service/**

# Except specific file types and files
!.gitignore
!MakeFile
!*.yaml
!*.py
!*.MD
