**
!/agent_service/
!/chromadb_service/
!/llm_service/
!/tool_service/
!/testing_tool/

!/llm_service/*
!/llm_service/proto/*
!/llm_service/llama/*

!/testing_tool/*

!/agent_service/**

!/chromadb_service/proto/*
!/chromadb_service/*

!/tool_service/**

!.gitignore
!MakeFile
!*.yaml
!*.py
